PORT=3000
NODE_ENV=development

HOST_MAIL='smtp.gmail.com'
PORT_MAIL=587
USER_MAIL='user_mail@gmail.com'
PASSWORD_MAIL='password'

SECRET_SESSION='change-me'
JWT_SECRET='change-me'
DOMAIN_NAME='my.domain.com'

DB_ADDRESS='localhost'
DB_NAME='db_name'
DB_USERNAME='root'
DB_PASSWORD='root'
DB_DIR_OUTPUT_MODELS='./src/models'
DB_PORT=3306
DB_DIALECT='mysql'
DB_MODELS_IN_TYPESCRIPT='true'
DB_SYNC='false'
DB_SYNC_ALTER='false'

USER_PASSWORD_HASH_SALT=10

CRUD_BLOCKED_MODELS='users'
# CRUD_ALLOWED_MODELS='products'
GENERIC_CRUD_AUTH='false'
API_TITLE='API Documentation'
API_VERSION='1.0.0'
